{% load static %}
<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">

</head>

<div class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="#!">GoCeylon</a>
      </div>
      <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
        <ul class="nav-list">
          <li>
            <a href="{% url 'catalogue-view' %}">Catalogue</a>
          </li>
          <li>
            <a href="{% url 'ocr-dashboard' %}">Translate</a>
          </li>
          <!--<li>
            <a href="#!">Services</a>
            <ul class="nav-dropdown">
              <li>
                <a href="#!">Web Design</a>
              </li>
              <li>
                <a href="#!">Web Development</a>
              </li>
              <li>
                <a href="#!">Graphic Design</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#!">Pricing</a>
          </li>
          <li>
            <a href="#!">Portfolio</a>
            <ul class="nav-dropdown">
              <li>
                <a href="#!">Web Design</a>
              </li>
              <li>
                <a href="#!">Web Development</a>
              </li>
              <li>
                <a href="#!">Graphic Design</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#!">Contact</a>
          </li>-->
        </ul>
      </nav>
    </div>
</div>
    {% block content %}
    
    {% endblock %}

<script src="{% static '/js/base.js' %}"></script>

